{% extends 'layout.html' %}

{% block content %}
  <h1>{{ student }}</h1>

  <form method="post">
    {% csrf_token %}
    <select name="course">
      {% for course in not_registered_courses %}
        <option value="{{ course.id }}">{{ course }}</option>
      {% endfor %}
    </select>
    <button type="submit">Add Course</button>
  </form>

  <h2>Courses</h2>
  <ul>
    {% for course in student.courses.all %}
      <li>{{ course }}</li>
    {% endfor %}
  </ul>

  <p><a href="{% url 'students' %}">View Students</a></p>
  <p><a href="{% url 'courses' %}">View Courses</a></p>
{% endblock %}